.cuisine-container {
    width: 100%;
    margin:auto;
    padding-top: 100px;
    background-image: linear-gradient(#ffffcc, #ffffb3, #ffff99);
    background-size: auto;
}

.cuisine-container h3 {
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 30px;
}

.cuisine-container h4 {
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 25px;
}

.cuisine-container h5 {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.cuisine-container p{
    text-align: center;
    font-size: 20px;
}

.cuisine-container .steps{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

.cuisine-container .recipe-info{
    position: static;
    text-align: center;
}

.cuisine-container .recipe-ingredient{
    width: 100%;
    position: static;
    text-align: center;
}

.cuisine-container .recipe-guide{
    width: 50%;
    position: static;
    text-align: center;
}

.cuisine-container .recipe-guide p{
    text-align: left;
}

.cuisine-container .all-recipes{
    width: 70%;
    position: static;
    text-align: left;
    margin:auto;
}

.recipe-img{
    width:500px;
    height: 500px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.recipe-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms;
    border-radius: 8px;
    
}

.recipe-img:hover img{
    transform: scale(1.2);
}

.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  padding-top: 10px;
}

.recipe-icons .box{
    width: 150px;
    height: 75px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: auto; 
    padding-top: 10px;
}

.recipe-guide .steps {
    text-align: center;
}

.cuisine-container .row .col-sm img {
    width:300px;
    height: 300px;
    padding: 5px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 400ms;
    margin: 10px 0px 10px 0px; 
}

.cuisine-container .row .col-sm img:hover {
    transform: scale(1.2);
}

@media (max-width: 767px) {
    .cuisine-container h3 {
        font-size: 24px;
    }
    .cuisine-container h4 {
        font-size: 20px;
    }
    .cuisine-container h5 {
        font-size: 18px;
    }
    .cuisine-container p {
        font-size: 16px;
    }
    .cuisine-container .recipe-guide{
        width: 100%;
        position: static;
        text-align: center;
    }
}

@media screen and (max-width: 767px) and (max-width: 1023px){
    .cuisine-container h3 {
        font-size: 24px;
    }
    .cuisine-container h4 {
        font-size: 20px;
    }
    .cuisine-container h5 {
        font-size: 18px;
    }
    .cuisine-container p {
        font-size: 16px;
    }
    .cuisine-container .recipe-guide{
        width: 100%;
        position: static;
        text-align: center;
    }
    .cuisine-container {
        margin: auto;
    }
    .cuisine-container .row .col-sm img {
    width:250px;
    height: 250px;
    }
}

@media screen and (max-width: 1024px) {

}

